@import "tailwindcss";

:root {
  --background: #020408;
  --foreground: #e2e8f0;
}

/* Робимо стильний тонкий скролбар */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020408;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}